.card__btn_action_del {
  width: 18px;
  height: 19px;
  background-image: url(../../../../images/delete-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  position: absolute;
  top: 18px;
  right: 15px;
}
