.photo-grid {
  max-width: 882px;
  padding: 0;
  margin: 0 auto;
}

@media screen and (max-width: 1023px) {
  .photo-grid {
    padding: 36px 24px 0;
  }
}

@media screen and (max-width: 929px) {
  .photo-grid {
    padding: 36px 48px 0;
    grid-gap: 46px 36px;
  }
}

@media screen and (max-width: 696px) {
  .photo-grid {
    padding: 26px 19px 0;
    grid-gap: 19px 16px;
  }
}

@media screen and (max-width: 639px) {
  .photo-grid {
    max-width: 642px;
    grid-gap: 20px;
  }
}

@media screen and (max-width: 374px) {
  .photo-grid {
    max-width: 282px;
    padding: 0 19px 0;
  }
}
