.footer__copyright {
    color: #545454;
    margin: 68px 0 56px;
    font-size: 18px;
    line-height: 22px;
}

@media screen and (max-width: 880px) {
    .footer__copyright {
        margin: 50px 0 34px;
        padding-left: 20px;
        font-size: 14px;
        line-height: 17px;        
    }    
}