.profile__edit-button {
  max-width: 24px;
  min-height: 24px;
  align-self: end;
  cursor: pointer;
  margin: 0 0 12px 17px;
  background-color: #000;
  border: 1px solid #fff;
  transition: opacity 0.2s ease;
  opacity: 1;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1023px) {
  .profile__edit-button {
    margin: 0 0 10px 17px;
  }
}

@media screen and (max-width: 639px) {
  .profile__edit-button {
    margin: 0 0 10px 17px;
    margin-right: auto;
  }
}

@media screen and (max-width: 374px) {
  .profile__edit-button {
    max-width: 18px;
    min-height: 18px;
    margin: 0 0 7px 5px;
    padding: 0;
  }
}
