.footer {
  margin: 67px auto 0;
  padding-bottom: 60px;
  max-width: 882px;
  min-height: 18px;
}

@media screen and (max-width: 1023px) {
  .footer {
    max-width: 842px;
    margin: 66px 89px 0;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    max-width: 682px;
    margin: 56px auto 0;
    margin-left: 19px;
    padding-left: 19px;
  }
}

@media screen and (max-width: 424px) {
  .footer {
    max-width: 382px;
    margin: 48px auto 0;
    margin-left: 19px;
    padding-left: 19px;
    padding-bottom: 36px;
  }
}

@media screen and (max-width: 374px) {
  .footer {
    max-width: 320px;
  }
}
