.popup__btn_close {
  background-image: url(../../../images/popup-btn-submit.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 50px;
  height: 50px;
  position: absolute;
  top: -40px;
  right: -40px;
}

.popup__btn_close:hover{
  opacity: 0.6;
}

.popup__btn_close:focus{
  opacity: 0.6;
}

@media screen and (max-width: 467px) {
  .popup__btn_close {
    width: 23px;
    height: 23px;
    right: 8px;
  }
}

@media screen and (max-width: 374px) {
  .popup__btn_close {
    width: 20px;
    height: 20px;
    right: 5px;
  }
}
