.popup__form {
  padding: 0;
  max-width: 538px;
}

@media screen and (max-width: 767px) {
  .popup__form {
    max-width: 338px;
  }
}

@media screen and (max-width: 530px) {
  .popup__form {
    max-width: 238px;
  }
}
