.card__btn_cliked {
  width: 20px;
  height: 20px;
  background: url(../../../../images/card-btn-like.svg) center no-repeat;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
  background-color: #fff;
  cursor: pointer;
  transition: opacity 0.6s ease;
}

.card__btn_cliked:hover {
  opacity: 0.5;
}
