.popup__input {
    width: 358px;
    margin: 0 auto 28px;
    border: 0;
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 10px;
    position: relative;
}

.popup__input::-webkit-input-placeholder {
    color: #000;
}
.popup__input::-moz-placeholder {
    color: #000;
}
.popup__input::-ms-input-placeholder {
    color: #c000;
}

@media screen and (max-width: 550px) {
    .popup__input {
        width: 238px;
    }
}