.header {
  max-width: 880px;
  min-height: 74px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 45px;
  margin: 0 auto 0;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 1023px) {
  .header {
    max-width: 842px;
    margin: 0 89px 0;
  }
}

@media screen and (max-width: 767px) {
  .header {
    max-width: 682px;
    margin: 0 43px 0;
    padding-top: 35px;
  }
}

@media screen and (max-width: 424px) {
  .header {
    max-width: 382px;
    margin: 0 22px 0;
  }
}

@media screen and (max-width: 374px) {
  .header {
    max-width: 320px;
    min-height: 56px;
    margin: 0 auto 0;
    padding-top: 28px;
  }
}
