.header {
    border-bottom: 1px solid rgba(84, 84, 84, .7);
    padding-top: 45px;
    padding-bottom: 37px;
}

@media screen and (max-width: 880px) {
    .header {
        padding-top: 28px;
    }    
}

@media screen and (max-width: 320px) {
    .header {        
    padding-bottom: 28px;
    }    
}